<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/style-search.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>getmy</title>
  </head>
  <body>
    <div class="container">
      <form
        action="{{ url_for('search') }}"
        onsubmit="displayLoading()"
        method="POST"
      >
        <input type="search" name="search" required />
        <i class="fa fa-search"></i>
        <a href="javascript:void(0)" id="clear-btn">Clear</a>
      </form>
      <div id="planet" class="planet"></div>
    </div>
    <script src="/static/main.js"></script>
  </body>
</html>
